.task-card {
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card h3 {
  margin-top: 0;
  color: #02050e;
}

.task-card p {
  margin: 0.5rem 0;
  color: #374151;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.edit-btn {
  background-color: #1e40af;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #2563eb;
}

.delete-btn {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #ef4444;
}